<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Haepari 인증 메일</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!-- 회색 배경 -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgColor="#F4F5F7" style="padding: 20px 16px 82px; color: #353475; font-family:'BM DoHyeon',sans-serif;font-weight:400;" class="wrapper">
            <tbody style="display: block; max-width: 600px; margin: 0 auto;">
            <tr width="100%" style="display: block;">
                <td width="100%" style="display: block;">
                    <!-- 본문 -->
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgColor="#FFFFFF" style="display: inline-block; padding: 32px; text-align: left;" class="container">
                        <tbody style="display: block;">
                        <!-- 본문 제목 -->
                        <tr >
                            <td style="padding: 48px 0 48px 48px; font-size:40px;border-bottom: 10px solid #7A88FF;">Haepari</td>
                        </tr>
                        <tr>
                            <td style="padding: 48px 0px; font-size: 25px;">
                                이메일 인증 안내입니다.
                            </td>
                        </tr>
                        <!-- 본문 내용 -->
                        <tr>
                            <td style="font-size: 20px; padding-bottom: 50px;">
                                <span>안녕하세요. Haepari에 가입해주셔서 감사합니다.<br/></span>
                                <span style="color:#7A88FF;">인증하기 버튼</span>
                                <span>을 클릭해서 인증을 완료해주세요. <br/>감사합니다. </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 50px; padding: 100px 0;border-bottom: 10px solid #7A88FF; ">
                                <a href="@{verification_url}">
                                    <button style="width: 150px; height: 60px; background:#7A88FF; border-radius:20px; border: #fff; color:#fff; font-size:20px;">
                                        인증하기
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <!-- 발신전용 & 저작권 -->
                        <tr>
                            <td style="padding: 24px; color: #A7A7A7; font-size: 12px; line-height: 20px;">이 메일은 발신전용 메일입니다.<br/>문의사항은 haeparies@gmail.com 이나 고객센터를 통해 문의해주시면 감사하겠습니다.</td>
                        </tr>
                        <tr>
                            <td style="padding: 24px; font-size: 12px; line-height: 20px; color: #000000">Copyright 2024. ©Haepari. All rights reserved.</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
